# VDAC output, for video/sync output to resistor DAC for composite output
set_io --warn-no-port vdac[0] 32
set_io --warn-no-port vdac[1] 31
set_io --warn-no-port vdac[2] 37
set_io --warn-no-port vdac[3] 34

# This needs to be wired up to J8 (12MHz oscillator output)
# Note - it /has/ to be 35!
set_io --warn-no-port clk_12 35

# External reset input
set_io --warn-no-port NRST_IN 21

# Debug outputs to watch things
# TODO: before using these, they really should be actual IO pads
# and not just wires that show up here.
#
# set_io --warn-no-port pll_lock 18
# set_io --warn-no-port reset 19
# set_io --warn-no-port clk 23
# set_io --warn-no-port clk_2x 25
